{
  "project_info": {
    "project_number": "1234567890",
    "project_id": "your-firebase-project-id",
    "storage_bucket": "your-firebase-project-id.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:1234567890:android:replace-me",
        "android_client_info": {
          "package_name": "com.flitpdfscanner.flitpdf"
        }
      },
      "api_key": [
        {
          "current_key": "replace-with-your-android-api-key"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
